﻿@{
    ViewBag.Title = "Home Page";
}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light " data-widget="pushmenu" style="background: #fff; z-index: 9999; box-shadow: 1px 3px 1px #aaa;height:197px">
    <div class="col-sm-12">
        <h2 class="title">Overview</h2>
        <p style="padding-left: 10px; margin-bottom: 0px; font-size: 11px">Last updated</p>
        <p style="padding-left:10px;font-size:11px">November 1, 2020 at 10:00 AM (00:00:10)</p>
        <p style="padding-left:10px">
            <span class="Applied">Applied filters:</span>
            <a href="#" class="btn btn-sm btn-default quebecDiv">
                <span id="txtTitle" class="quebec"></span>
            </a>
            <a href="#" id="divAuto" class="btn btn-sm btn-default quebecAuto">
                <span id="txtTitleAuto" class="quebec"></span>
            </a>
        </p>
    </div>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="z-index:9999">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="background: #00549A;">
        <div class="row" style="height:29px;">
            <div class="col-sm-4">
                <img src="~/lib/Bell_logo.svg" alt="AdminLTE Logo" class="brand-image elevation-3">
            </div>
            <div class="col-sm-8">
                <span class="brand-text font-weight-light" style="color:#fff">
                    <span>Dashboard</span>
                </span>
            </div>
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar" style="background: #F4F4F4; position: absolute;">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">METRICS</li>
                <li class="nav-item"> <a href="/Home/Index" class="nav-link active overview"> Overview</a> </li>
                <li class="nav-item"> <a href="/Home/SlaPage" class="nav-link overview_normal"> SLA</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link overview_normal"> Buzz Requests</a> </li>
                <li class="nav-item"> <a href="#" class="nav-link overview_normal"> Calss</a> </li>
                <li style="border-bottom: 1px solid #dadada;margin-top:30px"></li>
                <li class="nav-header" style="font-weight:bold">Filters</li>
                <li class="nav-item"> <a href="#" class="nav-link overview_normal"> Region</a> </li>
                <li class="nav-item">
                    <select class="form-control" onchange="changeSelect()" id="txtSelect">
                        <option value="1">Quebec</option>
                        <option value="2">Ontario</option>
                    </select>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link overview_normal">
                        View real-time data <label class="switch">
                            <input type="checkbox" checked onchange="changeYes()" name="txtYesOrNo">
                            <span class="slider round"><sapn id="txtYes">Yes</sapn></span>
                        </label>
                    </a>
                </li>
                <li style="border-bottom: 1px solid #dadada;margin-top:30px"></li>
                <li class="nav-header" style="font-weight:bold">Report</li>
                <li class="nav-item">
                    <a href="#" class="nav-link" style="color: #00549A !important;">
                        <i class="fa fa-download"></i>
                        <p>
                            Export Report
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<style>
    #timeToRender {
        position: absolute;
        top: 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: #d85757;
        padding: 0px 4px;
        color: #ffffff;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-sm-9">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <span class="trend">Trends</span>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <input type="checkbox" name="my-checkbox" checked> SLA - Buzz
                    <input type="checkbox" name="my-checkbox" checked style="margin-left:15px"> SLA - Calls
                    <input type="checkbox" name="my-checkbox" checked style="margin-left:15px"> Overall SLA
                    <input type="checkbox" name="my-checkbox" checked style="margin-left:15px"> Volumn
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="chartContainer_v2" style="height: 300px; width: 100%;"></div>
                            <span id="timeToRender"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="chartContainer_atlantic" style="height: 300px; width: 100%;"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="chartContainer_overall" style="height: 300px; width: 100%;"></div>
                            <span id="timeToRender"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <span class="trend">Statistics</span>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="info-box">
                            <div class="info-box-content">
                                <span class="info-box-text">Pending Buzz requests</span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span><span class="info-box-number">10<span class="downPercent">-6% <i style="transform: rotate(-45deg);" class="fa fa-arrow-down"></i></span><sapn></sapn></span> </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="chartContainer_v3" style="height: 50px; width: 100%;"></div>
                                    </div>
                                </div>
                                <span class="progress-description" style="font-size: 12px;">
                                    Locked: 8  | Unlocked: 2
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="info-box">
                            <div class="info-box-content">
                                <span class="info-box-text">Calls waiting</span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span><span class="info-box-number">40<span class="upPercent">+6% <i style="transform: rotate(45deg);" class="fa fa-arrow-up"></i></span></span> </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="chartContainer_v4" style="height: 50px; width: 100%;"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>

